.vscode
__pycache__
backend/db/actors
backend/db/categories
backend/db/imports/*
!backend/db/imports/.keep
backend/db/movies/*
!backend/db/movies/.keep
backend/db/series
backend/db/sqlite.db*
backend/db/studios
node_modules
venv
